$clr-primary-soft-blue-100: hsl(215, 51%, 70%);
$clr-primary-cyan-100: hsl(178, 100%, 50%);
$clr-primary-cyan-100--semi: hsla(178, 100%, 50%, 0.4);
$clr-neutral-dark-blue-100: hsl(217, 54%, 11%);
$clr-neutral-dark-blue-200: hsl(216, 50%, 16%);
$clr-neutral-dark-blue-300: hsl(215, 32%, 27%);
$clr-neutral-white: hsl(0, 0%, 100%);
// ### Neutral

// - Very dark blue (main BG): hsl(217, 54%, 11%)
// - Very dark blue (card BG): hsl(216, 50%, 16%)
// - Very dark blue (line): hsl(215, 32%, 27%)
// - White: hsl(0, 0%, 100%)

// - Font size (paragraph): 18px

// ### Font

// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
// - Weights: 300, 400, 600
