@use "../colors" as *;
@use "../mixins/animations" as a;

.nft-card {
  box-sizing: border-box;
  inline-size: 21.875rem;
  background-color: $clr-neutral-dark-blue-200;
  padding: 1.5rem;
  border-radius: 0.75rem;

  &__thumbnail {
    display: block;
    inline-size: 100%;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    &::after {
      display: flex;

      content: "";
      position: absolute;
      inset: 0;
      background: $clr-primary-cyan-100--semi url("../images/icon-view.svg")
        no-repeat center;
      opacity: 0;
      @include a.transitionOpacity;
    }
    &:hover::after {
      opacity: 1;
    }

    &__image {
      inline-size: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__title {
    margin-block: 1.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $clr-neutral-white;
    @include a.transitionColor;

    &:hover {
      color: $clr-primary-cyan-100;
    }
  }

  &__paragraph {
    margin-block: 0;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4;
    color: $clr-primary-soft-blue-100;
  }
}

.eth {
  font-size: 1rem;
  border-block-end: 1px solid $clr-neutral-dark-blue-300;
  display: flex;
  justify-content: space-between;
  padding-block: 1.75rem;

  &__price,
  &__time-left {
    margin-block: 0;
  }

  &__price::before,
  &__time-left:before {
    block-size: 1em;
    inline-size: 1em;
    margin-inline-end: 0.5rem;
    vertical-align: middle;
  }

  &__price {
    text-transform: uppercase;
    font-weight: 400;
    color: $clr-primary-cyan-100;

    &::before {
      content: url("../images/icon-ethereum.svg");
    }
  }

  &__time-left {
    font-weight: 300;
    color: $clr-primary-soft-blue-100;

    &::before {
      content: url("../images/icon-clock.svg");
    }
  }
}

.author {
  padding-block-start: 0.5rem;
  display: flex;
  align-items: center;

  &__thumbnail {
    box-sizing: border-box;
    block-size: 2.125rem;
    inline-size: 2.125rem;
    margin-inline-end: 1rem;
    border: 1px solid $clr-neutral-white;
    object-fit: cover;
    border-radius: 100%;
  }

  &__text {
    color: $clr-primary-soft-blue-100;
  }

  &__name {
    color: $clr-neutral-white;
    @include a.transitionColor;

    &:hover {
      color: $clr-primary-cyan-100;
    }
  }
}
